[mysqld]
bind-address = 0.0.0.0
port = 3306
user = root
character_set_server = utf8mb4
symbolic-links = 0
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
datadir = /wedatasphere/install/mysql-5.7.36-el7-x86_64/data
basedir = /wedatasphere/install/mysql-5.7.36-el7-x86_64
socket = /var/lib/mysql/mysql.sock
log-error = /wedatasphere/logs/mysqld.logs
explicit_defaults_for_timestamp = true
#skip-grant-tables = 1
[client]
default-character-set = utf8mb4