[mysqld]
bind-address = 0.0.0.0
port = 3306
user = root
server_id=2
log_bin = mysql-bin
binlog_format = ROW
character_set_server = utf8mb4
default-storage-engine = INNODB
default_authentication_plugin = mysql_native_password
sql_mode ='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
datadir = /wedatasphere/install/mysql-5.7.36-el7-x86_64/data
basedir = /wedatasphere/install/mysql-5.7.36-el7-x86_64
socket = /var/lib/mysql/mysql.sock
log-error = /wedatasphere/logs/mysqld.logs
explicit_defaults_for_timestamp = true
[client]
default-character-set = utf8mb4